<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/index.html" class="brand-logo">J+M</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="page-link" href="/index.html">index</a></li>
      <li><a class="page-link" href="/actas.html">actas</a></li>
      <li><a class="page-link" href="/quienes.html">quienes</a></li>
      <li><a class="page-link" href="/subir.html">subir</a></li>
      <li><a class="page-link" href="/open.html">open</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="page-link" href="/index.html">index</a></li>
      <li><a class="page-link" href="/actas.html">actas</a></li>
      <li><a class="page-link" href="/quienes.html">quienes</a></li>
      <li><a class="page-link" href="/subir.html">subir</a></li>
      <li><a class="page-link" href="/open.html">open</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
