.c-collection{
    position: relative;
}

.c-collection img{
    width: 100%;
    margin-bottom: -6px;
}

.c-collection > div{
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    overflow: hidden;
    transition: height 0.3s;
    background-color: rgba(0, 0, 0, 0.55);
    color: #FFFFFF;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}

.valign-wrapper > .valign{
    width: 100%;
}

.c-collection:hover > div{
    height: 100%;
}

.underlined{
    padding: 4px;
    border-bottom: 1px solid #777777;
}

.archive-label span{
    font-weight: 300;
    text-transform: capitalize;
}

.archive-label span:first-child{
    font-size: 18px;
}

.archive-label span:last-child{
    font-size: 24px;
}

.mb{
    margin-bottom: 10px;
}