<!DOCTYPE html>
<html>
  <head>
  

<meta charset="utf-8" /> 

  <!-- for Google -->
<meta name="description" content="Todos los datos del proceso constituyente deben ser públicos y libres de acceso." />
<meta name="keywords" content="Chile, constitucion, datos abiertos, proceso constituyente, constitucion abierta, politica, open data" /> 

<meta name="author" content="Constitución Abierta" />
<meta name="copyright" content="" />

<!-- for Facebook -->          
<meta property="og:title" content="Constitución Abierta" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://constitucionabierta.cl/static/html/wc-impact-80-24.png" />
<meta property="og:url" content="http://constitucionabierta.cl" />
<meta property="og:description" content="Todos los datos del proceso constituyente deben ser públicos y de libre acceso." />

<!-- for Twitter -->          
  <meta name="twitter:image" content="http://constitucionabierta.cl/static/html/wc-impact-80-24.png" />
  <meta name="twitter:url" content="http://constitucionabierta.cl" />
  <meta name="twitter:title" content="Constitución Abierta" />
  <meta name="twitter:description" content="Todos los datos del proceso constituyente deben ser públicos y libres de acceso." />  
  <meta name="twitter:creator" content="@constabierta" />
  <meta name="twitter:card" content="summary" />
  
    <link rel="icon" href="http://dcc.uchile.cl/~mquezada/ELAs/favicon.ico" type="image/x-icon" />
  
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    
    <!-- impact font -->
    <link rel="stylesheet" href="/static/html/css/impact.css" />
    
    <!-- reset styles inside charts -->
    <!-- <link rel="stylesheet" href="/static/html/css/reset.css" />-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>


    <style>
      #mapid {
      height: 700px;
      width : 100%;
      }
      
      iframe {
      max-width: 100%;
      }

      .viz {
        height: 500px;
        width: 100%;
      }

      .viz-g {
        width: 100%;
        height: 50vh;
      }
      
      .btn-large {
      margin-bottom: 10px;
      }
      
      .btn {
      margin-top: 5px;
      margin-bottom: 7px;
      }
    </style>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Constituci&oacute;n Abierta</title>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
        
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  
  
 function adjustIframes()
{
  $('iframe').each(function(){
    var
    $this       = $(this),
    proportion  = $this.data( 'proportion' ),
    w           = $this.attr('width'),
    actual_w    = $this.width();
    
    if ( ! proportion )
    {
        proportion = $this.attr('height') / w;
        $this.data( 'proportion', proportion );
    }
  
    if ( actual_w != w )
    {
        $this.css( 'height', Math.round( actual_w * proportion ) + 'px' );
    }
  });
}
$(window).on('resize load',adjustIframes);

  $(document).ready(function() {
  $(".button-collapse").sideNav();
  });

  
  
    </script>
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        
        <ul class="hide-on-med-and-down">
          <li class="left"><a href="http://constitucionabierta.cl/opendata-cco" class="waves-effect blue btn">Constituci&oacute;n y datos abiertos</a></li>
          <li class="right"><a href="http://constitucionabierta.cl/quienes/" class="waves-effect waves-light btn">&iquest;Qui&eacute;nes Somos?</a></li>
          <!--a id="logo-container" href="http://ciws.cl/" class="brand-logo"><img src="https://66.media.tumblr.com/a8459fbeea460877509b8cca48b26c67/tumblr_o8vzakQ5KX1vxj9d6o1_1280.png" width="100" /></a-->
        </ul>
        
        <ul id="nav-mobile" class="side-nav">
          <li><a href="http://constitucionabierta.cl/opendata-cco">Datos abiertos</a></li>
          <li><a href="http://constitucionabierta.cl/actas/subir/">Subir mi acta</a></li>
          <li><a href="http://constitucionabierta.cl/quienes/">&iquest;Qui&eacute;nes Somos?</a></li>          
          <!--a id="logo-container" href="http://ciws.cl/" class="brand-logo"><img src="https://66.media.tumblr.com/a8459fbeea460877509b8cca48b26c67/tumblr_o8vzakQ5KX1vxj9d6o1_1280.png" width="100" /></a-->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse black-text"><i class="material-icons">menu</i></a>
      </div>
    </nav>


    
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
      
        <h1 class="hide-on-med-and-down">Constituci&oacute;n Abierta</h1>
        <h3 class="hide-on-large-only">Constituci&oacute;n Abierta</h3>

        <p class="flow-text">
          Los datos del Proceso Constituyente deben estar disponibles abiertamente para todas y todos los chilenos.
          Si crees lo mismo, reporta tu <strong>Cabildo Provincial</strong> o publica tu <strong>Acta de Encuentro Local</strong>.
        </p>

        <div class="col s12" style="margin-bottom: 20px">
          <a href="http://constitucionabierta.cl/cabildos/" class="waves-effect orange btn-large">Reporta tu Cabildo Provincial</a>
          <span class="hide-on-med-and-down">&nbsp;</span>
          <a href="http://constitucionabierta.cl/actas/subir/" class="waves-effect red btn-large">Sube tu Acta de Encuentro Local</a>
        </div>

      </div>


     <div class="container">
       <div class="row">

        <div class="col s12">
          <p class="flow-text">
            
            Las siguientes son visualizaciones simples que 
            enfatizan el valor de contar con datos p&uacute;blicos (<a href="#disclaimer">disclaimer</a>). 
            Puedes ver las <a href="#palabras">palabras</a> m&aacute;s mencionadas en actas,
            <a href="#mapas">mapas</a> de encuentros por comunas, y <a href="#otras">otras
            estad&iacute;sticas</a>. Puedes comenzar viendo algunas de las actas hechas p&uacute;blicas.
          </p>

          <a class="waves-effect blue btn-large" href="http://constitucionabierta.cl/actas/mosaico">Ver Actas p&uacute;blicas</a>


       </div>

        <br />

        <div class="col s12 center">
          <br />
          <br />
          
          <a name="palabras"></a>

          <!--object type="image/svg+xml" data="/static/html/wordcloud-impact-80-21.svg" width="100%">
          Your browser does not support SVG
          </object-->
          <a href="wc">
            <img id="vc" class="responsive-img" src="/static/html/wc-impact-80-24.png" width="80%" /></a>

          <p class="flow-text">
            Palabras m&aacute;s mencionadas en las <a href="/actas/mosaico">actas hechas p&uacute;blicas</a>. 
            <!-- El tama&ntilde;o de cada palabra corresponde a la cantidad de veces
            que se menciona.--> 
            Ver <a href="wc">versi&oacute;n interactiva</a>.
          </p>


          <br/>
          <br/>
         


        </div>

      
        <div class="col s12 center">
          

          <!--<div id="mapid" style="height:400px; margin-bottom: 10px;" class="col s12 center"></div>-->

          <a name="mapas"></a>
          <iframe style="height:400px; margin-bottom: 10px; width : 100%;" src="https://www.google.com/maps/d/embed?mid=1lJaA5A8o32LIVQoLR6vjhUnntHI"></iframe>
        
          <p class="flow-text">Mapa de encuentros locales por comuna.</p>
        
          <a href="http://dcc.uchile.cl/~mquezada/ELAs/ELAs_2016-06-20.csv" class="waves-effect red btn-large">Descargar datos de ELAs</a> &nbsp;&nbsp;
          <a class="waves-effect blue btn-large" href="http://constitucionabierta.cl/mapa">Ver m&aacute;s mapas</a>
          <br /><br/>
          
          <!--div class="divider"></div>
          <div style="margin-bottom: 40px;"></div-->

        </div>

        <!--div class="col s12">
          <p class="flow-text">
            Los siguientes son datos de los Encuentros Locales Autoconvocados en el marco del Proceso Constituyente que se lleva a cabo en Chile. Las visualizaciones fueron creadas para enfatizar la necesidad de que todos los datos del proceso <a href="http://constitucionabierta.cl/opendata-cco">est&eacute;n disponibles de manera abierta y en internet</a> para todos los chilenos y chilenas.
          </p>
        </div-->


        <div class="col s12 center">
          
          <a name="otras"></a>
          
  					<!--div class="viz" id="regiones_mas_grandes"></div>
            <br-->
            
            <div class="viz" id="regiones_mas_grandes_10000hab"></div>
            <br>
            
            <!--div class="viz" id="comunas_mas_grandes"></div>
            <br-->
            
            <div class="viz" id="comunas_mas_grandes_10000hab"></div>
            <br>
            
            <div class="viz" id="encuentros_por_regiones_enc"></div>
            <br>
            
            <!--div class="viz" id="encuentros_por_regiones_enc10000"></div>
            <br-->
            
            <!--div class="viz" id="encuentros_vs_idh_regiones"></div-->
            <br>
            
            <!--div class="viz" id="encuentros_vs_idh_comunas"></div>
            <br>
            
            <div class="viz" id="encuentros_vs_participacion_regiones"></div>
            <br>
            
            <div class="viz" id="encuentros_vs_participacion_regiones_active"></div>
            <br>
            
            <div class="viz" id="encuentros_vs_participacion_comunas"></div>
            <br-->
            
            <!--div class="viz" id="encuentros_participacion_metropolitana"></div-->
            <!--br-->
            
            <!--div class="viz" id="cuenta_encuentros"></div-->
            <!--br-->
            
            <!--div class="viz" id="cuenta_acumulada_encuentros"></div-->
          <!--br /-->

<a href="http://pacha.hk/constitucionabierta/sintesis_datos.zip" class="waves-effect waves-light btn">Descargar datos</a>          
<a class="waves-light btn" href="http://pacha.hk/constitucionabierta/">Ver más gráficos interactivos</a>

        </div>
      </div>
    </div>


<div class="divider"></div>

    <div class="section no-pad-bot valign-wrapper">
        <div class="valign container">
        <p>
            En esta p&aacute;gina iremos actualizando los datos de los Encuentros Locales y Cabildos a medida que est&eacute;n disponibles. Idealmente podremos reportar datos y visualizaciones mucho m&aacute;s interesantes si es que, como esperamos, el Proceso Constituyente hace disponible su informaci&oacute;n a la ciudadan&iacute;a de manera abierta y libre.
        </p>
        
        <p>Si deseas comunicarte con nosotros escr&iacute;benos a <a href="mailto:constitucionabierta@gmail.com">constitucionabierta@gmail.com</a>,
        o por tel&eacute;fono al +56987521761.</p>
        
            <a name="disclaimer"></a>
            <h5>Disclaimer</h5>
        <blockquote>
            Todos los datos de Encuentros Locales son de encuentros <strong>registrados</strong> en <a href="http://unaconstitucionparachile.cl/datos">http://unaconstitucionparachile.cl/datos</a> y no necesariamente indican encuentros completados. Los datos son acumulados hasta lo disponible el d&iacute;a 24 de junio de 2016.

            Los datos de palabras y conceptos mencionados son s&oacute;lo de las actas que han hecho disponibles en
            nuestro sitio (<a href="/actas/mosaico">ver actas</a>), y considerando s&oacute;las
            actas desde las que se pueden obtener
            datos de manera autom&aacute;tica (no escritas a mano).
            
            Los datos demogr&aacute;ficos son obtenidos de la proyecci&oacute;n del INE para la poblaci&oacute;n del 2011, usando como base el Censo del a&ntilde;o 2002 (<a href="https://drive.google.com/open?id=1eebNFSwt0PNl-w9rkBnSmzkX0IThAloCGwzGMsKr6E4">Descargar datos</a>).
            
            <!--La participaci&oacute;n en elecciones para cada comuna es el porcentaje de votos
            que esa comuna aport&oacute; al total de votos en la &uacute;ltima elecci&oacute;n presidencial.-->

            <!--Los gr&aacute;ficos interactivos fueron realizados por Mauricio Vargas
            (<a href="https://twitter.com/pachamaltese">&#64;pachamaltese</a>).-->
        </blockquote>
        
        
        <p> Los datos y los gr&aacute;ficos presentados en este sitio son p&uacute;blicos e incentivamos a la comunidad a explorarlos y usarlos en beneficio de la sociedad.</p>
        <br />
        
        <div class="col s12 center" style="padding-bottom: 10px;"> 
          <a href="http://constitucionabierta.cl/quienes/" class="waves-effect waves-light btn-large">&iquest;Qui&eacute;nes Somos?</a>
          
        </div>

        </div>
      </div>
    </div>


<script src="/static/html/d3plus/d3.min.js"></script>
<script src="/static/html/d3plus/d3plus.min.js"></script>
<script src='/static/html/js/regiones_mas_grandes.js'></script>
<script src='/static/html/js/regiones_mas_grandes_10000hab.js'></script>
<script src='/static/html/js/comunas_mas_grandes.js'></script>
<script src='/static/html/js/comunas_mas_grandes_10000hab.js'></script>
<script src='/static/html/js/encuentros_participacion_metropolitana.js'></script>
<script src='/static/html/js/encuentros_por_regiones_enc.js'></script>
<!--script src='/static/html/js/encuentros_por_regiones_enc10000.js'></script>
<script src='/static/html/js/encuentros_vs_idh_comunas.js'></script>
<script src='/static/html/js/encuentros_vs_idh_regiones.js'></script>
<script src='/static/html/js/encuentros_vs_participacion_comunas.js'></script>
<script src='/static/html/js/encuentros_vs_participacion_regiones.js'></script>
<script src='/static/html/js/encuentros_vs_participacion_regiones_active.js'></script>
<script src='/static/html/js/cuenta_encuentros.js'></script>
<script src='/static/html/js/cuenta_acumulada_encuentros.js'></script-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22180528-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
