
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Constitución Abierta</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/html/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/html/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container">
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center green-text">Constitución Abierta</h1>
      <div class="row center">
        <h5 class="header col s12 light">
          Pronto podrás ver acá todas las actas que se han hecho públicas
        </h5>
      </div>

      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light green">Volver</a>
      </div>
      <br><br>

    </div>
  </div>


  
  <br><br>

  <div class="section">

  </div>
</div>

<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="s12">
        <h5 class="white-text center">No dejes de subir tu acta en el sitio <a style="color: #a3b1b2" href=https://www.unaconstitucionparachile.cl>https://www.unaconstitucionparachile.cl</a></h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
</body>
</html>
