<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" href="http://dcc.uchile.cl/~mquezada/ELAs/favicon.ico" type="image/x-icon" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>&iquest;Qui&eacute;nes Somos?</title>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <nav class="white lighten-1" role="navigation">
      <div class="nav-wrapper container"><a href="http://constitucionabierta.cl" class="waves-effect blue btn">P&aacute;gina Principal</a>
        <ul class="right hide-on-med-and-down">
          <li><a id="logo-container" href="http://ciws.cl/" class="brand-logo"><img src="https://66.media.tumblr.com/a8459fbeea460877509b8cca48b26c67/tumblr_o8vzakQ5KX1vxj9d6o1_1280.png" width="100" /></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#"></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"></i></a>
      </div>
    </nav>
    
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <h1></h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <p class="flow-text">
        Somos un grupo de acad&eacute;micos y estudiantes de los Departamentos de Ciencia
        de la Computaci&oacute;n de las Universidades de Chile y 
        Cat&oacute;lica, miembros del <a href="http://ciws.cl/">Centro de Investigaci&oacute;n de la Web Sem&aacute;ntica</a>. 
        <!--Nuestro centro de investigaci&oacute;n se dedica al an&aacute;lisis, publicaci&oacute;n y consulta de datos libres en la Web/Internet.-->
        </p>

        <p class="flow-text">
          Queremos que los datos del Proceso Constituyente est&eacute;n disponibles abiertamente para todas y todos los chilenos.
        Si tambi&eacute;n crees que los datos para generar una nueva constituci&oacute;n
        deben ser de acceso libre, pasa la voz, ap&oacute;yanos en redes sociales, y publica
        libremente tu <strong>Acta de Encuentro Local Autoconvocado</strong> ac&aacute;.
        </p>

       <div class="col s12" style="margin-bottom: 20px">
          <a href="http://constitucionabierta.cl/actas/subir/" class="waves-effect red btn-large">Subir mi Acta de Encuentro Local</a> 
          <a class="waves-effect blue btn-large" href="http://constitucionabierta.cl/actas/mosaico">Ver Actas disponibles</a>
         </div>

        
        
      </div>
    </div>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22180528-3', 'auto');
  ga('send', 'pageview');

</script>    
</body>
</html>

