<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Constitución Abierta</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/html/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/html/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style type="text/css">
    .error {
      color:#e74c3c;
      display: none;
    }
    div.g-recaptcha {
      margin: 0 auto;
      width: 304px;
    }
  </style>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script type="text/javascript">

    var validateFile = function(){
      var fileInput = document.getElementById("myfileinput");
      var files = fileInput.files;
      var maxSize = 20*1024*1024;

      var isOk = true;
      for (var i = 0; i < files.length; i++) {
        if(files[i].size > maxSize){
          isOk = false;
        }
      }
      var errorspan = document.getElementById("error");
      if (isOk){
        errorspan.style.display = 'none';
      } else {
        errorspan.style.display = 'inline';
      }

      var errorspan = document.getElementById("error3");
      if(files.length != 0){
        errorspan.style.display = 'none';
      } else {
        errorspan.style.display = 'inline';
        isOk=false;
      }
      return isOk;
    };


    var validateCaptcha = function(){
      var isOk = true;
      var response = grecaptcha.getResponse();
      var errorspan = document.getElementById("error2");
      if(response.length != 0){
        errorspan.style.display = 'none';
      } else {
        errorspan.style.display = 'inline';
        isOK=false;
      }
      return isOk;
    };

    var validateForm = function () {
      var ok = true;
      ok = validateFile();
      ok = validateCaptcha() && ok;
      return ok;
    };

    window.onload = function(e) {
      document.getElementById("myfileinput").onchange = validateFile;
    };

  </script>
  <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
</head>
<body>
  {% if modify %}
  <nav class="light-blue darken-4" role="navigation">
  {% else %}
  <nav class="light-green lighten-1" role="navigation">
  {% endif %}
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        {% if not modify %}
        <li><a href="/actas/aleatorio/" class="center col s3 btn waves-effect waves-light green">Ver un Acta compartida</a></li>
        {% endif %}
      </ul>
      <ul class="right hide-on-med-and-down">
        {% if not modify %}
        <li><a href="/actas/mosaico/" class="center col s3 btn waves-effect waves-light green">Ver Mosaico</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center green-text">Constitución Abierta</h1>
      <div class="row center">
        {% if modify %}
          <h5 class="header col s12 light">Estás por modificar el acta número {{acta_number}}</h5>
          <h5 class="header col s12 light">Por favor recuerda haber eliminado todos los datos personales del acta.</h5>
          <h5 class="header col s12 light">Por favor recuerda que sólo puedes subir un archivo en formato PDF.</h5>
        {% else %}
          <h5 class="header col s12 light">Sube el acta de tu encuentro local, hazla pública para todas y todos.</h5>
          <h5 class="header col s12 light">Puedes subir un documento en cualquier formato. Nos encargaremos de borrar todos los datos personales antes de publicarla.</h5>
        {% endif %}
      </div>

    {% if modify %}
      <form method="POST" action="/constitucion/upload_modify/{{filename}}/{{secret}}/" enctype="multipart/form-data" onsubmit="return validateForm();">
    {% else %}
      <form method="POST" action="/constitucion/upload_file/" enctype="multipart/form-data" onsubmit="return validateForm();">
    {% endif %}
      {% csrf_token %}
      <div class="row">
        <div class="col s6 m6 offset-m3">
        <div class="file-field input-field">
          <div class="btn-large waves-effect waves-light green">
            <span>Seleccionar Archivo</span>
            <input type="file" id="myfileinput" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        </div>
      </div>
      <div class="row center">
        <span class="error" id="error">Su archivo es demasiado grande. Debe pesar menos de 20MB.</span>
        <span class="error" id="error2">Debe verificar que no es un robot.</span>
        
        <span class="error" id="error3">Debe seleccionar un archivo.</span>
      </div>
      <div class="row center">
      	<div class="g-recaptcha" data-sitekey="6LcIbCMTAAAAANq4BSzbRwDzH-XyusQ3h7m1bmzK"></div>
      	<br><br>
        <input type="submit" value="Enviar acta" class="btn-large waves-effect waves-light green">
      </div>
      <br><br>
    </form>
    </div>
  </div>


  
  <br><br>

  <div class="section">

  </div>
</div>

{% if modify %}
<footer class="page-footer blue">
{% else %}
<footer class="page-footer green">
{% endif %}
  <div class="container">
    <div class="row">
      {% if not modify %}
      <div class="s12">
        <h5 class="white-text center">No olvides subir tu acta en el sitio <a style="color: #2c3e50" href=https://www.unaconstitucionparachile.cl>https://www.unaconstitucionparachile.cl</a></h5>
        <p class="grey-text text-lighten-4">
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
</body>
</html>
