<!DOCTYPE html>
<html>
  <head>
  

<meta charset="utf-8" /> 

  <!-- for Google -->
<meta name="description" content="Todos los datos del proceso constituyente deben ser públicos y libres de acceso." />
<meta name="keywords" content="Chile, constitucion, datos abiertos, proceso constituyente, constitucion abierta, politica, open data" /> 

<meta name="author" content="Constitución Abierta" />
<meta name="copyright" content="" />

<!-- for Facebook -->          
<meta property="og:title" content="Constitución Abierta" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://constitucionabierta.cl/static/html/wc-impact-80-24.png" />
<meta property="og:url" content="http://constitucionabierta.cl" />
<meta property="og:description" content="Todos los datos del proceso constituyente deben ser públicos y libres de acceso." />

<!-- for Twitter -->          
  <meta name="twitter:image" content="http://constitucionabierta.cl/static/html/wc-impact-80-24.png" />
  <meta name="twitter:url" content="http://constitucionabierta.cl" />
  <meta name="twitter:title" content="Constitución Abierta" />
  <meta name="twitter:description" content="Todos los datos del proceso constituyente deben ser públicos y libres de acceso." />  
  <meta name="twitter:creator" content="@constabierta" />
  <meta name="twitter:card" content="summary" />
  
    <link rel="icon" href="http://dcc.uchile.cl/~mquezada/ELAs/favicon.ico" type="image/x-icon" />
  
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    



    <style>
      #mapid {
      height: 700px;
      width : 100%;
      }
      
      iframe {
      max-width: 100%;
      }
      
      .btn-large {
      margin-bottom: 10px;
      }
      
      .btn {
      margin-top: 5px;
      margin-bottom: 7px;
      }

      text:hover {
      opacity: 0.5;  
      }
      
    </style>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Constituci&oacute;n Abierta</title>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <!-- Tipped for tooltips -->
    <script type="text/javascript" src="/static/html/js/tipped/tipped.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/html/css/tipped/tipped.css"/>


<script type='text/javascript'>
$(document).ready(function() {
  Tipped.create('.dataWord',  { size: 'large', behavior: 'sticky' });
});
</script>
    
    
    <script>
        
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  
  
 function adjustIframes()
{
  $('iframe').each(function(){
    var
    $this       = $(this),
    proportion  = $this.data( 'proportion' ),
    w           = $this.attr('width'),
    actual_w    = $this.width();
    
    if ( ! proportion )
    {
        proportion = $this.attr('height') / w;
        $this.data( 'proportion', proportion );
    }
  
    if ( actual_w != w )
    {
        $this.css( 'height', Math.round( actual_w * proportion ) + 'px' );
    }
  });
}
$(window).on('resize load',adjustIframes);
	
    </script>
  </head>

  <body>
    <nav class="white lighten-1" role="navigation">
      <div class="nav-wrapper container">
      <a href="http://constitucionabierta.cl/" class="waves-effect blue btn">P&aacute;gina Principal</a>

        
        <ul class="right hide-on-med-and-down">
          <li>
          <a href="http://constitucionabierta.cl/quienes/" class="waves-effect waves-light btn">
            &iquest;Qui&eacute;nes Somos?
          </a>
          <!--a id="logo-container" href="http://ciws.cl/" class="brand-logo"><img src="https://66.media.tumblr.com/a8459fbeea460877509b8cca48b26c67/tumblr_o8vzakQ5KX1vxj9d6o1_1280.png" width="100" /></a-->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"></i></a>
      </div>
    </nav>

<div class="section no-pad-bot" id="index-banner">

     <div class="container">
       <div class="row">
       <p class="flow-text center">
       Posici&oacute;nate sobre una palabra para ver la cantidad de veces que se menciona.
          </p>
        </div>
        </div>

        <div class="col s12 center">
          <!-- SVG SVG SVG -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="110%" viewBox="50 190 1024 415">
<clipPath id="cp2">
<path d="M 0,0 L 1024,0 L1024,768 L 0,768 z M 0,0 L 1280,0 L 1280,960 L 0,960 z" fill-rule="evenodd">
</path>
</clipPath>
<g clip-path="url(#cp2)">
</g>
<rect x="0" y="0" width="1280" height="960" opacity="1" fill="#fff" stroke="none">
</rect>
<text x="-204.271484375" y="10.386314399999996" style="font: normal 103.86314399999998px Impact,serif" text-anchor="start" dy="41.052626086956515" opacity="1" fill="#171717" stroke="none" transform="translate(510, 384)">Derechos</text>
<text x="-178.76498413085938" y="6.788198339999997" style="font: normal 67.88198339999998px Impact,serif" text-anchor="start" dy="26.830823478260864" opacity="1" fill="#c00" stroke="none" transform="translate(496, 314)">Constitución</text>
<text x="-101.7752914428711" y="6.046318739999997" style="font: normal 60.46318739999999px Impact,serif" text-anchor="start" dy="23.898493043478258" opacity="1" fill="#171717" stroke="none" transform="translate(512, 456)">Respeto</text>
<text x="-122.84623718261719" y="5.230251179999996" style="font: normal 52.30251179999999px Impact,serif" text-anchor="start" dy="20.672929565217387" opacity="1" fill="#c00" stroke="none" transform="translate(480, 264)">Ciudadanía</text>
<text x="-96.3993911743164" y="5.007687299999997" style="font: normal 50.07687299999999px Impact,serif" text-anchor="start" dy="19.793230434782608" opacity="1" fill="#9C6043" stroke="none" transform="translate(512, 504)">Personas</text>
<text x="-100.1800765991211" y="4.451277599999997" style="font: normal 44.51277599999999px Impact,serif" text-anchor="start" dy="17.593982608695647" opacity="1" fill="#171717" stroke="none" transform="translate(510, 548)">protección</text>
<text x="-92.06410217285156" y="3.969055859999999" style="font: normal 39.690558599999996px Impact,serif" text-anchor="start" dy="15.687967826086956" opacity="1" fill="#171717" stroke="none" transform="translate(476, 224)">comunidad</text>
<text x="-108.13069915771484" y="3.8948678999999977" style="font: normal 38.94867899999999px Impact,serif" text-anchor="start" dy="15.394734782608694" opacity="1" fill="#E8A664" stroke="none" transform="translate(304, 460)">participación</text>
<text x="-45.48413848876953" y="3.7093979999999984" style="font: normal 37.093979999999995px Impact,serif" text-anchor="start" dy="14.661652173913042" opacity="1" fill="#438D9C" stroke="none" transform="translate(664, 452)">Deber</text>
<text x="-46.318946838378906" y="3.598116059999999" style="font: normal 35.981160599999995px Impact,serif" text-anchor="start" dy="14.22180260869565" opacity="1" fill="#c00" stroke="none" transform="translate(664, 486)">Social</text>
<text x="-64.98648071289062" y="3.561022079999999" style="font: normal 35.61022079999999px Impact,serif" text-anchor="start" dy="14.07518608695652" opacity="1" fill="#171717" stroke="none" transform="translate(670, 266)">Igualdad</text>
<text x="-133.55804443359375" y="3.3755521799999997" style="font: normal 33.7555218px Impact,serif" text-anchor="start" dy="13.342103478260869" opacity="1" fill="#438D9C" stroke="none" transform="translate(704, 224)">Responsabilidades</text>
<text x="-50.63457489013672" y="3.2271762599999985" style="font: normal 32.271762599999995px Impact,serif" text-anchor="start" dy="12.755637391304347" opacity="1" fill="#9C6043" stroke="none" transform="translate(364, 494)">Política</text>
<text x="-67.26565551757812" y="3.1900822799999986" style="font: normal 31.900822799999993px Impact,serif" text-anchor="start" dy="12.609020869565216" opacity="1" fill="#171717" stroke="none" transform="translate(676, 520)">principios</text>
<text x="-32.86442565917969" y="2.9675183999999994" style="font: normal 29.675183999999994px Impact,serif" text-anchor="start" dy="11.729321739130434" opacity="1" fill="#171717" stroke="none" transform="translate(464, 198)">leyes</text>
<text x="-44.422096252441406" y="2.9304244199999996" style="font: normal 29.304244199999996px Impact,serif" text-anchor="start" dy="11.582705217391304" opacity="1" fill="#438D9C" stroke="none" transform="translate(370, 524)">Valorar</text>
<text x="-61.28264617919922" y="2.856236459999998" style="font: normal 28.562364599999995px Impact,serif" text-anchor="start" dy="11.289472173913042" opacity="1" fill="#c00" stroke="none" transform="translate(674, 548)">desarrollo</text>
<text x="-52.923179626464844" y="2.7820484999999984" style="font: normal 27.820484999999994px Impact,serif" text-anchor="start" dy="10.99623913043478" opacity="1" fill="#171717" stroke="none" transform="translate(638, 198)">sociedad</text>
<text x="-68.25830078125" y="2.7449545199999985" style="font: normal 27.449545199999996px Impact,serif" text-anchor="start" dy="10.849622608695652" opacity="1" fill="#9C6043" stroke="none" transform="translate(360, 198)">Democracia</text>
<text x="-39.46507263183594" y="2.7449545199999985" style="font: normal 27.449545199999996px Impact,serif" text-anchor="start" dy="10.849622608695652" opacity="1" fill="#9C6043" stroke="none" transform="translate(716, 342)">Región</text>
<text x="-63.088401794433594" y="2.7078605399999987" style="font: normal 27.078605399999994px Impact,serif" text-anchor="start" dy="10.70300608695652" opacity="1" fill="#c00" stroke="none" transform="translate(344, 550)">humanidad</text>
<text x="-50.438995361328125" y="2.7078605399999987" style="font: normal 27.078605399999994px Impact,serif" text-anchor="start" dy="10.70300608695652" opacity="1" fill="#c00" stroke="none" transform="translate(302, 278)">gobierno</text>
<text x="-23.369003295898438" y="2.670766559999999" style="font: normal 26.707665599999995px Impact,serif" text-anchor="start" dy="10.55638956521739" opacity="1" fill="#171717" stroke="none" transform="translate(524, 198)">País</text>
<text x="-30.950393676757812" y="2.559484619999999" style="font: normal 25.594846199999996px Impact,serif" text-anchor="start" dy="10.116539999999999" opacity="1" fill="#E8A664" stroke="none" transform="translate(710, 308)">poder</text>
<text x="-29.468467712402344" y="2.5223906399999994" style="font: normal 25.223906399999997px Impact,serif" text-anchor="start" dy="9.969923478260869" opacity="1" fill="#9C6043" stroke="none" transform="translate(352, 230)">Salud</text>
<text x="-65.1766128540039" y="2.4852966599999995" style="font: normal 24.852966599999995px Impact,serif" text-anchor="start" dy="9.823306956521737" opacity="1" fill="#438D9C" stroke="none" transform="translate(288, 254)">fundamental</text>
<text x="-52.915428161621094" y="2.4852966599999995" style="font: normal 24.852966599999995px Impact,serif" text-anchor="start" dy="9.823306956521737" opacity="1" fill="#c00" stroke="none" transform="translate(262, 338)">Educación</text>
<text x="-51.84663391113281" y="2.4482026799999996" style="font: normal 24.482026799999996px Impact,serif" text-anchor="start" dy="9.676690434782609" opacity="1" fill="#c00" stroke="none" transform="translate(766, 386)">formación</text>
<text x="-37.198097229003906" y="2.4482026799999996" style="font: normal 24.482026799999996px Impact,serif" text-anchor="start" dy="9.676690434782609" opacity="1" fill="#438D9C" stroke="none" transform="translate(270, 410)">Cultura</text>
<text x="-38.12445831298828" y="2.4482026799999996" style="font: normal 24.482026799999996px Impact,serif" text-anchor="start" dy="9.676690434782609" opacity="1" fill="#438D9C" stroke="none" transform="translate(268, 382)">público</text>
<text x="-50.61565399169922" y="2.411108699999998" style="font: normal 24.111086999999994px Impact,serif" text-anchor="start" dy="9.530073913043477" opacity="1" fill="#E8A664" stroke="none" transform="translate(264, 314)">garantizar</text>
<text x="-38.131065368652344" y="2.33692074" style="font: normal 23.369207399999997px Impact,serif" text-anchor="start" dy="9.236840869565217" opacity="1" fill="#9C6043" stroke="none" transform="translate(270, 360)">libertad</text>
<text x="-62.73974609375" y="2.2998267599999984" style="font: normal 22.998267599999995px Impact,serif" text-anchor="start" dy="9.090224347826085" opacity="1" fill="#438D9C" stroke="none" transform="translate(782, 408)">instituciones</text>
<text x="-64.51338195800781" y="2.2998267599999984" style="font: normal 22.998267599999995px Impact,serif" text-anchor="start" dy="9.090224347826085" opacity="1" fill="#9C6043" stroke="none" transform="translate(776, 436)">conservación</text>
<text x="-50.28496551513672" y="2.2998267599999984" style="font: normal 22.998267599999995px Impact,serif" text-anchor="start" dy="9.090224347826085" opacity="1" fill="#E8A664" stroke="none" transform="translate(254, 432)">Naturaleza</text>
<text x="-32.12413024902344" y="2.2627327799999986" style="font: normal 22.627327799999996px Impact,serif" text-anchor="start" dy="8.943607826086955" opacity="1" fill="#171717" stroke="none" transform="translate(744, 458)">Pueblo</text>
<text x="-58.086669921875" y="2.188544819999999" style="font: normal 21.885448199999995px Impact,serif" text-anchor="start" dy="8.650374782608695" opacity="1" fill="#438D9C" stroke="none" transform="translate(772, 482)">necesidades</text>
<text x="-30.460525512695312" y="2.0401688999999994" style="font: normal 20.401688999999998px Impact,serif" text-anchor="start" dy="8.063908695652174" opacity="1" fill="#E8A664" stroke="none" transform="translate(488, 352)">acceso</text>
<text x="-26.56446075439453" y="1.891792979999999" style="font: normal 18.917929799999996px Impact,serif" text-anchor="start" dy="7.477442608695651" opacity="1" fill="#9C6043" stroke="none" transform="translate(754, 370)">bienes</text>
<text x="-26.647239685058594" y="1.8176050199999993" style="font: normal 18.176050199999995px Impact,serif" text-anchor="start" dy="7.18420956521739" opacity="1" fill="#E8A664" stroke="none" transform="translate(282, 492)">género</text>
<text x="-15.756782531738281" y="1.8176050199999993" style="font: normal 18.176050199999995px Impact,serif" text-anchor="start" dy="7.18420956521739" opacity="1" fill="#c00" stroke="none" transform="translate(566, 200)">vida</text>
<text x="-33.12725830078125" y="1.7805110399999995" style="font: normal 17.805110399999997px Impact,serif" text-anchor="start" dy="7.03759304347826" opacity="1" fill="#c00" stroke="none" transform="translate(288, 520)">histórico</text>
<text x="-38.89726257324219" y="1.7063230799999989" style="font: normal 17.063230799999996px Impact,serif" text-anchor="start" dy="6.744359999999999" opacity="1" fill="#c00" stroke="none" transform="translate(752, 502)">decisiones</text>
<text x="-37.74772644042969" y="1.7063230799999989" style="font: normal 17.063230799999996px Impact,serif" text-anchor="start" dy="6.744359999999999" opacity="1" fill="#c00" stroke="none" transform="translate(276, 234)">autonomía</text>
<text x="-30.103897094726562" y="1.669229099999999" style="font: normal 16.692290999999997px Impact,serif" text-anchor="start" dy="6.597743478260869" opacity="1" fill="#171717" stroke="none" transform="translate(760, 290)">nacional</text>
<text x="-24.9140625" y="1.5950411399999993" style="font: normal 15.950411399999997px Impact,serif" text-anchor="start" dy="6.304510434782608" opacity="1" fill="#9C6043" stroke="none" transform="translate(766, 320)">justicia</text>
<text x="-14.193778991699219" y="1.5950411399999993" style="font: normal 15.950411399999997px Impact,serif" text-anchor="start" dy="6.304510434782608" opacity="1" fill="#438D9C" stroke="none" transform="translate(544, 356)">vivir</text>
<text x="-48.428123474121094" y="1.5579471599999994" style="font: normal 15.579471599999998px Impact,serif" text-anchor="start" dy="6.157893913043478" opacity="1" fill="#438D9C" stroke="none" transform="translate(742, 196)">cumplimiento</text>
<text x="-30.25794219970703" y="1.446665219999999" style="font: normal 14.466652199999997px Impact,serif" text-anchor="start" dy="5.718044347826086" opacity="1" fill="#c00" stroke="none" transform="translate(770, 274)">ambiental</text>
<text x="-21.192955017089844" y="1.3724772599999993" style="font: normal 13.724772599999998px Impact,serif" text-anchor="start" dy="5.424811304347826" opacity="1" fill="#438D9C" stroke="none" transform="translate(408, 354)">calidad</text>
<text x="-21.09246063232422" y="1.3724772599999993" style="font: normal 13.724772599999998px Impact,serif" text-anchor="start" dy="5.424811304347826" opacity="1" fill="#171717" stroke="none" transform="translate(652, 354)">iguales</text>
<text x="-30.369911193847656" y="1.3353832799999994" style="font: normal 13.353832799999998px Impact,serif" text-anchor="start" dy="5.278194782608695" opacity="1" fill="#438D9C" stroke="none" transform="translate(780, 306)">patrimonio</text>
<text x="-25.373443603515625" y="1.3353832799999994" style="font: normal 13.353832799999998px Impact,serif" text-anchor="start" dy="5.278194782608695" opacity="1" fill="#171717" stroke="none" transform="translate(784, 338)">servicios</text>
<text x="-26.183563232421875" y="1.2611953199999997" style="font: normal 12.611953199999999px Impact,serif" text-anchor="start" dy="4.984961739130434" opacity="1" fill="#c00" stroke="none" transform="translate(784, 356)">plebiscito</text>
<text x="-23.622177124023438" y="1.2611953199999997" style="font: normal 12.611953199999999px Impact,serif" text-anchor="start" dy="4.984961739130434" opacity="1" fill="#E8A664" stroke="none" transform="translate(662, 292)">asegurar</text>
<text x="-24.25328826904297" y="1.2611953199999997" style="font: normal 12.611953199999999px Impact,serif" text-anchor="start" dy="4.984961739130434" opacity="1" fill="#9C6043" stroke="none" transform="translate(334, 440)">procesos</text>
<text x="-24.216346740722656" y="1.2611953199999997" style="font: normal 12.611953199999999px Impact,serif" text-anchor="start" dy="4.984961739130434" opacity="1" fill="#438D9C" stroke="none" transform="translate(762, 256)">mayorías</text>
<text x="-12.499153137207031" y="1.2611953199999997" style="font: normal 12.611953199999999px Impact,serif" text-anchor="start" dy="4.984961739130434" opacity="1" fill="#E8A664" stroke="none" transform="translate(598, 352)">trato</text>
<text x="-22.624237060546875" y="1.2241013399999998" style="font: normal 12.241013399999998px Impact,serif" text-anchor="start" dy="4.838345217391304" opacity="1" fill="#E8A664" stroke="none" transform="translate(640, 248)">recursos</text>
<text x="-15.347785949707031" y="1.2241013399999998" style="font: normal 12.241013399999998px Impact,serif" text-anchor="start" dy="4.838345217391304" opacity="1" fill="#9C6043" stroke="none" transform="translate(252, 300)">futuro</text>
<text x="-14.313850402832031" y="1.2241013399999998" style="font: normal 12.241013399999998px Impact,serif" text-anchor="start" dy="4.838345217391304" opacity="1" fill="#438D9C" stroke="none" transform="translate(704, 292)">digna</text>
<text x="-28.46361541748047" y="1.18700736" style="font: normal 11.870073599999998px Impact,serif" text-anchor="start" dy="4.6917286956521735" opacity="1" fill="#9C6043" stroke="none" transform="translate(278, 218)">integración</text>
<text x="-35.99314880371094" y="1.1499133799999992" style="font: normal 11.499133799999997px Impact,serif" text-anchor="start" dy="4.545112173913043" opacity="1" fill="#c00" stroke="none" transform="translate(780, 518)">discriminación</text>
<text x="-30.94103240966797" y="1.1499133799999992" style="font: normal 11.499133799999997px Impact,serif" text-anchor="start" dy="4.545112173913043" opacity="1" fill="#9C6043" stroke="none" transform="translate(272, 566)">obligaciones</text>
<text x="-23.675643920898438" y="1.1499133799999992" style="font: normal 11.499133799999997px Impact,serif" text-anchor="start" dy="4.545112173913043" opacity="1" fill="#9C6043" stroke="none" transform="translate(760, 542)">individual</text>
<text x="-24.116058349609375" y="1.1499133799999992" style="font: normal 11.499133799999997px Impact,serif" text-anchor="start" dy="4.545112173913043" opacity="1" fill="#c00" stroke="none" transform="translate(736, 566)">seguridad</text>
<text x="-19.88304901123047" y="1.1499133799999992" style="font: normal 11.499133799999997px Impact,serif" text-anchor="start" dy="4.545112173913043" opacity="1" fill="#c00" stroke="none" transform="translate(796, 454)">partidos</text>
<text x="-41.34156036376953" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#438D9C" stroke="none" transform="translate(654, 570)">Descentralización</text>
<text x="-31.71204376220703" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#171717" stroke="none" transform="translate(376, 570)">constituyente</text>
<text x="-26.293212890625" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#c00" stroke="none" transform="translate(250, 542)">diferencias</text>
<text x="-26.863327026367188" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#c00" stroke="none" transform="translate(262, 206)">vinculación</text>
<text x="-28.163742065429688" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#171717" stroke="none" transform="translate(220, 490)">económicas</text>
<text x="-17.445556640625" y="1.1128193999999993" style="font: normal 11.128193999999997px Impact,serif" text-anchor="start" dy="4.398495652173912" opacity="1" fill="#9C6043" stroke="none" transform="translate(298, 298)">normas</text>
<text x="-34.32598876953125" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#E8A664" stroke="none" transform="translate(218, 506)">parlamentarios</text>
<text x="-34.25775146484375" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#9C6043" stroke="none" transform="translate(254, 194)">representación</text>
<text x="-25.76483154296875" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#9C6043" stroke="none" transform="translate(810, 370)">consultivos</text>
<text x="-23.58123779296875" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#438D9C" stroke="none" transform="translate(224, 286)">diversidad</text>
<text x="-20.8228759765625" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#171717" stroke="none" transform="translate(208, 418)">universal</text>
<text x="-16.1302490234375" y="1.0757254199999995" style="font: normal 10.757254199999998px Impact,serif" text-anchor="start" dy="4.251879130434783" opacity="1" fill="#9C6043" stroke="none" transform="translate(308, 538)">niveles</text>
</svg>
          <!-- END SVG --> 

        </div>

        


</div>

<script type="text/javascript" src="/static/data/dataTags.js"></script>
<script type="text/javascript">

  var txts = document.getElementsByTagName("text");
  for (var i=0, e; e = txts[i]; i++) {
    var word = e.innerHTML
    var key = word.toLowerCase();
    var count = dataTags[key]["count"];
    var elas = dataTags[key]["elas"];

    
    e.setAttribute("class", "dataWord");
    
    var info = word + ": " + count + " veces en " + elas + " actas";

    e.setAttribute("title", info);
    e.style.cursor = "default";
  } 
</script>


</body>
</html>

